In [13]:
import pandas as pd

In [14]:
df=pd.read_csv("caida.csv")

In [15]:
df.head()

,Hilera,Planta,Flor,Campana,Fundo,Parcela,Lote,Variedad,Turno
0,3,31,1,2021,YAKUY MINKA,P900,L12003,W. Murcott,III
1,6,8,1,2021,YAKUY MINKA,P900,L12003,W. Murcott,III
2,10,15,1,2021,YAKUY MINKA,P900,L12003,W. Murcott,III
3,13,7,1,2021,YAKUY MINKA,P900,L12003,W. Murcott,III
4,16,27,1,2021,YAKUY MINKA,P900,L12003,W. Murcott,III

In [16]:
from pivottablejs import pivot_ui
pivot_ui(df)